Web References/CC/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CurrencyConvert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCurrencyType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sngCurrencyIn" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CurrencyConvertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrencyConvertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CurrencyConvertSoapIn">
    <wsdl:part name="parameters" element="tns:CurrencyConvert" />
  </wsdl:message>
  <wsdl:message name="CurrencyConvertSoapOut">
    <wsdl:part name="parameters" element="tns:CurrencyConvertResponse" />
  </wsdl:message>
  <wsdl:message name="CurrencyConvertHttpGetIn">
    <wsdl:part name="strCurrencyType" type="s:string" />
    <wsdl:part name="sngCurrencyIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CurrencyConvertHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CurrencyConvertHttpPostIn">
    <wsdl:part name="strCurrencyType" type="s:string" />
    <wsdl:part name="sngCurrencyIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CurrencyConvertHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CurrencyConvert">
      <wsdl:input message="tns:CurrencyConvertSoapIn" />
      <wsdl:output message="tns:CurrencyConvertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="CurrencyConvert">
      <wsdl:input message="tns:CurrencyConvertHttpGetIn" />
      <wsdl:output message="tns:CurrencyConvertHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="CurrencyConvert">
      <wsdl:input message="tns:CurrencyConvertHttpPostIn" />
      <wsdl:output message="tns:CurrencyConvertHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurrencyConvert">
      <soap:operation soapAction="http://tempuri.org/CurrencyConvert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CurrencyConvert">
      <soap12:operation soapAction="http://tempuri.org/CurrencyConvert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CurrencyConvert">
      <http:operation location="/CurrencyConvert" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CurrencyConvert">
      <http:operation location="/CurrencyConvert" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://hwang.cisdept.cpp.edu/ws_currencyconverter/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://hwang.cisdept.cpp.edu/ws_currencyconverter/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://hwang.cisdept.cpp.edu/ws_currencyconverter/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://hwang.cisdept.cpp.edu/ws_currencyconverter/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>